<div class="div-container">
  <mat-card>
    <div class="div-container">
      <mat-toolbar>
        <mat-toolbar-row *ngIf="formErrors">
          {{errorMessage}}
        </mat-toolbar-row>
      </mat-toolbar>
      <form class="example-form" [formGroup]="myForm" (ngSubmit)="onSubmit(myForm.value)" enctype="multipart/form-data">
        <p class="text-muted">Add a Product</p>

        <mat-form-field class="my-form-field">
          <input matInput placeholder="Product name" [formControl]="myForm.controls['title']">
          <mat-error *ngIf="formErrors && !formErrors.title.valid">
            {{formErrors.title.message}}
          </mat-error>
        </mat-form-field>
        <br>
        <mat-form-field class="my-form-field">
          <input type="text" matInput placeholder="Description" [formControl]="myForm.controls['desc']">
          <mat-error *ngIf="formErrors && !formErrors.desc.valid">
            {{formErrors.desc.message}}
          </mat-error>
        </mat-form-field>
        <br>

        <mat-form-field class="my-form-field">
          <input type="text" matInput placeholder="Price" [formControl]="myForm.controls['price']">
          <mat-error *ngIf="formErrors && !formErrors.price.valid">
            {{formErrors.price.message}}
          </mat-error>
        </mat-form-field>
        <br>


        <input class="ng-hide" id="input-file-id" [formControl]="myForm.controls['image']" multiple type="file" />
        <label for="input-file-id" class="mat-form-field mat-raised-button mat-primary">Choose Files</label>
        <br>

          <button class="mat-form-field" mat-raised-button color="primary" type="submit"
                  [disabled]="!myForm.valid || submitted == true">Save</button>
          <i *ngIf="loading" class="fa fa-spinner fa-spin" style="font-size:24px"></i>

      </form>

    </div>
  </mat-card>
</div>
